section:first-of-type img {
	box-shadow: 10px 10px 30px black; }

article img {
	width: 100%; }

article img:only-of-type {
	box-shadow: 10px 10px 30px black; }

article button {
	margin: 20px auto;
}

nav img {
	width: 25px; }
	nav img[alt="LinkedIn Logo"] {
		border-radius: 5px; }
	nav img[alt="GitHub Logo"] {
		border-radius: 180px; }

@media only screen and (min-width: 421px) {
	.dropdown {
	    position: relative;
	    display: inline-block; }
	.dropdown-content {
	    display: none;
	    position: absolute;
	    background-color: #f9f9f9;
	    min-width: 160px;
			padding: 10px;
	    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	    z-index: 1; }

	.dropdown:hover .dropdown-content {
	    display: block; }
}


@media only screen and (orientation: portrait) {
	main h1, main h2, main h3, main h4 {
		text-align: center; }
	p {
		height: auto; }
	nav p.logo {
		display: inline-block;
		padding: 22px 10px;
		height: auto;
		width: auto;
		font-size: 1.7rem; }
	.dropdown {
		position: relative;
		display: block; }
	.dropdown-content {
		display: block;
		position: relative;
		min-width: 160px;
		z-index: 1; }
}

.errorlist {
	background-color: red;
	color: white;
	text-align: center;
}

.modal-message {
	padding: 30px;
	text-align: center;
}
